.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f6fa;
}

.mainContent {
    flex: 1;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}